.better-clock
{
    display: inline-block;
    width: 300px;
    border: solid 1px #484848;
    border-radius: 10px;
    text-align: center;
    
    &__time{
        color:brown;
        font-size: 50px;
    }
}